extends layout

block content
    h1= title
    p Welcome to #{title}
    button#buttonDownloadServer Test download to server
    button#buttonDownloadClient Test download to client
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
        var socket = io();
        $('#buttonDownloadServer').on('click', downloadVideoServer);
        $('#buttonDownloadClient').on('click', downloadVideoClient);

        socket.on('download_failed', showAlert);
        socket.on('download_success', showAlert);
        socket.on('download_to_client_success', pushFileToUser);

        function downloadVideoServer() {
            socket.emit('download_to_server', 'test');
        }

        function downloadVideoClient() {
            socket.emit('download_to_client', 'test');
        }

        function pushFileToUser(fileName) {
            //TODO remove?


            // Construct the <a> element
            var link = document.createElement("a");
            link.download = fileName;
            // Construct the uri
            //var uri = 'data:text/csv;charset=utf-8'
            link.href = encodeURI('Neda - Pasaka-5LG2Ar2ny0M.mp4');
            document.body.appendChild(link);
            link.click();
            // Cleanup the DOM
            document.body.removeChild(link);
            delete link;

        }

        function showAlert(msg) {
            alert(msg);
        }